
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

  <meta property="og:url" content="https://sumesh.io" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="The Portfolio of Sumesh Jagtani" />
  <meta property="og:title" content="Sumesh Jagtani | Digital Product Designer" />
  <meta property="og:description" content="Sumesh Jagtani is a product designer living in New York that specializes in visual design &amp; front-end development. "/>

  <title>Sumesh Jagtani | Digital Product Designer</title>
  <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

<style>
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

html {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	background: #fffffe;
	color: #39383A;
	max-width: 400px;
	padding: 10px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2 {
	font-size: 1rem;
	font-weight: 600;
	margin: 0;
	color: #8973CF;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul, p {
	margin: 0 0 1.5em;
}

a {
	color: #39383A;
	opacity: 0.6;
	transition: 200ms;
	text-decoration: underline;
}

a:hover {
	opacity: 1;
	color: #8973CF;
	transition: 0ms;
}

.callout:before {
	content: '⚡️';
	font-size: 0.75em;
	margin-left: -1.25em;
	padding-right: 0.25em;
}

@media (min-width: 600px) {
	html {
		margin: 2rem;
	}
}

@media (min-width: 800px) {
	html {
		margin: 6rem 4rem;
		font-size: 18px;
		max-width: 600px;
	}
}

</style>
</head>
<body>
	<main>
		<h1>Sumesh Jagtani</h1>
		<p>
			<a href="mailto:sumeshjagtani@gmail.com">Email</a> | <a href="https://www.linkedin.com/in/sumeshjagtani/">LinkedIn</a> | <a href="https://www.instagram.com/sumesh.jagtani/">Instagram</a>
		</p>

		<p>Hi there, my name is Sumesh Jagtani. I'm a product designer, specializing in visual design &amp; front-end development.
    <br>My passion is in designing meaningful experiences that respect users and meet business needs. That's the kind of work I want to do.</p>

		<h2 class="callout">Availability</h2>
		<p>I am currently booking out projects for May 2018 and beyond. If you have a project you'd like to discuss, please <a href="mailto:sumeshjagtani@gmail.com">say hello.</a></p>

		<h2>Selected Project – Zeit</h2>
		<p>I worked on responsive web design for an ecommerce time-travel booking website.</p>
		<p>
			<a href="https://sumesh.io/zeit">Learn more</a>
		</p>

		<h2>Case Study 1</h2>
		<p>Upcoming project. Stay tuned. </p>

		<h2>Say hello</h2>
		<p>
			<a href="mailto:sumeshjagtani@gmail.com">Email</a>
			<br>
			<a href="https://www.linkedin.com/in/sumeshjagtani/">LinkedIn</a>
			<br>
			<a href="https://www.instagram.com/sumesh.jagtani/">Instagram
		</p>
	</main>

</body>
</html>
