<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<meta property="og:url" content="https://sumesh.io" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="The Portfolio of Sumesh Jagtani" />
<meta property="og:title" content="Sumesh Jagtani – Product Design" />
<meta property="og:description" content="Sumesh Jagtani is a product designer living in New York that specializes in visual design &amp; front-end development. "/>

<title>Sumesh Jagtani – Product Design</title>
<link rel="icon" href="/images/favicon.png" type="image/png" />
<link rel="shortcut icon" href="/images/favicon.png" type="image/png" />

<link href="/css/style.css" rel="stylesheet" type="text/css">

</head>

<body>
<div id="insights" class="article">
  <div class="container">
    <div class="small">
      <div class="page-title">
        <h3><a href="/">Sumesh Jagtani</a></h3><h3 class="role">Product Design</h3>
      </div>

        <h1>Designing an ecommerce time-travel website that allows you to easily make a booking.</h1>
          <div title="Role" class="meta"><span>UX/UI Designer</span></div>
          <div title="Company" class="meta"><span>Zeit</span></div>
    </div>
  </div>

  <div class="container">
    <div class="small">
      <img src="/images/1920s-New-York.jpg">
    </div>

  <div class="small">
    <div class="column">
        <h4>Problem & Opportunity</h4>
      <div class="left-zeit">
        <p>Let’s imagine a young, driven milennial. They’ve just started their first job after college, and are passionate about making the most out of everyday. They love spending time with friends &amp; family, and want to make amazing memories with them. They’ve recently heard that after years of deliberation, officials have put in place standards to democratize the experience of time travel. They want to go on a trip, but don't know how to browse experiences, or buy tickets to travel back in time.</p>
        <div class="quote">
          <p>80% of people book travel online.</p>
        </div>
          <p>That shows people are comfortable with buying tickets online. I also looked at some of the reasons people hesitate booking travel online. <strong>One of the major contributors is an overly-complicated booking process.</strong></p>
          <p>This was a problem I felt passionate about – it is the perfect example of building an innovative product that helps people experience the world, while also positively affecting the business. I approached this iteratively, looking and learning at what truly gives people confidence to buy tickets online.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="small">
      <div class="column">
          <h4>User Research</h4>
        <div class="left-zeit">
          <p>My process began by collecting data from user interviews, competitive analysis, and secondary research.</p>
          <p>Our research goals were to identify our potential users, and empathize with problems they're currently facing in-regards to booking travel online.  Also, we wanted to gain a better understanding of their travel decision-making proces.  And, lastly, to gather more information about the travel tourism market.</p>
          <p>User research was followed by persona creation, building out an empathy map, and doing stroyboard exercises. What we learned right off the bat was that people want to be able to browse different catefories easily.</p>
          <p>Throughout the design process, I ran feedback sessions to collect user feedback and other stakeholders' insights into into an understandable view of Zeit's business goals, and if they were actually useful.</p>
              <img src="images/persona.png">
              <img src="images/empathy-map.png">
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="small">
      <div class="column">
        <div class="left-zeit">
          <h4>Interaction Design</h4>
          <p>Next, we focused on the organization of content. We started by making any sketches using pen &amp; paper, followed by sitemaps, task flows, and user flows.  All of this resulted in our first set of wireframes.</p>
          <p>Our V1 wireframes were good; a definite step in the right direction as it aligned with user needs and business goals, but there was still work left to do.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="small">
      <div class="column">
          <h4>UI Design</h4>
        <div class="left-zeit">
          <p>Our focus moved towards Visual Design, where we spent many hours designing a logo that was modern but still had a link to the past.  We followed that up putting together a brand style, and paid close attention to the mood of typography and the color palette.</p>
          <p>All of this work was truly gratifying, and spending time on making our designs pixel-perfect were worth it, since our next step was to collect more user feedback.</p>
    </div>
  </div>
</div>
</div>

  <div class="container">
    <div class="small">
            <img src="images/woodstock.jpg">
    </div>
  </div>

  <div class="container">
    <div class="small">
      <div class="column">
          <h4>Iteration &amp; Implementation</h4>
        <div class="left-zeit">
          <p>In two days we were able to outline the concerns or questions users had so that we could continue improving the overall experience.</p>
          <p>I started looking at how other brands were communicating with users as inspiration for how we could make Zeit more approachable.</p>
          <p>I made iterations that focused on using natural language to build trust with even the most skeptical users, and present it to them in a very readable format. These little iterations provided the mechanism for users to dig deeper into understanding how to book time-travel online. </p>
            <img src="images/mandela.jpg">
        </div>
      </div>
    </div>

        <div class="user-hints">
            <img src="images/affinity-map.png">
        </div>
  </div>

  <div class="container">
    <div class="small">
      <div class="column">
          <h2>Next Steps</h2>
        <div class="left-zeit">
          <p>Building an intuitive and tasteful digital product is one of the most exciting things for a designer. In our case, it is not only about providing a useful tool for travelers, but it’s also about having positive strategic results for the business. </p>
          <p>Our first step is to continue performing usability tests, collecting insight from our users, and starting to develop more integrations. We'll be able to test these changes using a hi-fidelity prototype which would be our second go-to action after the usability tests.</p>
          <p>In conclusion, the more data that we have, the more opportunities we have to make that data useful. While we may expand our product scope, data-informed decisions will be ingrained within the fabric of Zeit.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
  <div class="container">
    <div class="small">
      <div class="column">
        <div class="label">Other Projects</div>

        <div class="left-zeit">
          <a href="/zeit"><h3>Zeit</h3></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
        </div>

        <div class="left-zeit">
          <a href="/"><h3>Case Study 1</h3></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
        </div>
      </div>

      <div class="column">
        <div class="left-zeit">
          <a href="/"><h3>Case Study 2</h3></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
        </div>

        <div class="left-zeit">
        <a href="/"><h3>Case Study 3</h3></a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
        </div>
      </div>
    </div>
  </div>

    <div class="container">
      <div class="small-footer">
          <h3>Say hello</h3>
            <p><a href="mailto:hello@sumesh.io">hello@sumesh.io</a><br><a href="https://www.instagram.com/sumesh.jagtani/">Instagram</a><br><a href="https://www.linkedin.com/in/sumeshjagtani/">Linkedin</a></p>
      </div>
    </div>
  </div>
</div>
</div>

</body>
</html>
